header {
    background: #ebebeb;
    padding: 40px;
    margin: 10px;
    text-align: center;


}



footer {
    background: #ebebeb;
    padding: 40px;
    margin: 285px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: center;
    

    
}

nav {
    background: #ebebeb;
    padding: 40px;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 850px
    

}



.clearfix::after {

    content: "";
    display: block;
    clear: both;

}


aside {
    background: #ebebeb;
    float: right;
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 115px 152px;
    text-align: center;
    height: 20px
    
}

section {
    background: #ebebeb;
    float: center;
    text-align: center;


}


article {
    color: #ebebeb;
    background: #777;
    padding: 60px 0px;
    text-align: center
    

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 950px;
    font-size: 18px

}


#article {
    color: #ebebeb;
    background: #777;
    float: left;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    width: 120px
    




}

#h1,h2,h3 {
    color: #ebebeb;
    background: #777;
    float: left;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px 50px;
    width: 100px;
    
    



}


#section {

margin: 0px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
padding: 85px 215px;
float: left;
text-align: center



}






#p {

    color: #777;
    background: #ebebeb;
    padding: 10px 30px;
    text-align: center
    



}
