header {
    background: #ebebeb;
    padding: 40px;
    margin: 10px;
    text-align: center;


}



footer {
    background: #ebebeb;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    text-align: center;
    

    
}

nav {
    background: #ebebeb;
    padding: 40px;
    margin: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 850px
    

}

/* 1st is top, 2nd is right, 3rd is down, 4th is left */

    .clearfix {
    /*
    content: "";
    display: block;
    clear: both;
    */
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 0px
}


aside {
    background: #ebebeb;
    
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 600px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 230px;
    padding-left: 100px ;
    padding-right: 90px ;
    text-align: center;
    height: 0px;
    width: 150px;
    float: left
    
    
    
}

section {
    background: #ebebeb;
    float: center;
    text-align: center;


}


article {
    color: #ebebeb;
    background: #777;
    padding: 60px 0px;
    text-align: center;
    width: 250px
    

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 950px;
    font-size: 18px

}


#article {
    color: #777;
    background: #777;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    width: 0px;
    height: 0px;
    




}

#h1,h2,h3 {
    color: #777;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px;
    width: 0px;
    height: 0px
    
    



}


#section {

margin: 0px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
padding: 0px ;
padding-left: 225px ;
padding-right: 350px ;
padding-top: 50px ;
padding-bottom: 190px ;
text-align: center;
width: 1px;
height: 0px;




}






#p {

    color: #777;
    padding: 0px 0px;
    text-align: center;
    width: 0px;
    height: 0px;

    



}
